@font-face {
    font-family: UnifontExMono;
    src: url('Unifontexmono-2vrqo.ttf');
}
  
      
#music {
position: relative;
background: url('https://file.garden/ZRYtsnIP2EXOR4Kw/Site%20Files/musicplayer.png') top left no-repeat;
    background-size: auto;
background-size: auto;
background-size: 100% 100%;
overflow: hidden;
height: 50px;
max-width: 305px;
border-radius: 8px;
z-index: 1;
font-family: UnifontExMono;
}
#music div {
position: absolute;
top: 7px;
left: 55px;
width: 51%;
margin: 0 !important;
}
#music span {
display: block;
color: #FFFFFF;
font-weight: normal;
text-align: left;
font-size: 12px;
width: 240px;
margin-left: 2px;
}

#music .info {
position: absolute;
top: 12px;
left: 55px;
width: 51%;
margin: 0 !important;
}

a{
    text-decoration: none;
    color: whitesmoke;
}
